.country-card {
    height: 225px;
    width: 175px;
    border-radius: 8px;
    box-shadow: 0 0 5px #1a1a22;
    background-color: #1E1D26;
}

.country-card .country-flag {
    padding: 13px 0;
}

.country-card .country-flag img {
    width: 150px;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
}

.country-card .country-info {
    padding: 0 13px;
}

.country-card .country-info h5 {
    font-weight: 600;
    font-size: 16px;
}

.country-card .country-info p {
    font-weight: 400;
    font-size: 14px;
}

.country-card:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: .3s;
}
