::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #16151D;
}

::-webkit-scrollbar-thumb {
    background: #1E1D26;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: #16151D;
}

nav {
    margin: 35px auto 45px;
}

nav h3 {
    font-weight: 500;
    font-size: 24px;
}

nav input {
    float: right;
    margin: -30px auto 0;
    padding: 10px 0px 10px 20px;
    border-radius: 4px;
}

nav input,
nav input::placeholder,
nav input:hover {
    font-size: 14px;
    color: white;
    outline: 0;
    background-color: #1e1d26;
    border: 0;
}

.countries-world {
    margin: 20px auto 0;
}

.country-col {
    margin-bottom: 25px;
}

.custom-col {
    width: 175px;
    margin: 0 auto;
    display: flex;
}
