::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #16151D;
}

::-webkit-scrollbar-thumb {
    background: #1E1D26;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: #16151D;
}

nav {
    margin: 35px auto 0px;
}

nav h3 {
    font-weight: 500;
    font-size: 24px;
}

.countries-world {
    margin: 20px auto 0;
}
